.Heading{
    color: blue;
    font-size: 40px;
    width: 80%;
}
body{
    text-align:  center;
    background-color: orange;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: cyan;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;

}
#camera,#result{
 height: 500px;
 width: 500px;
 border: 2px solid white;
}
p{
    color: blue;
}